$boardBgColor: #fff;
$boardBorderColor: #333;
$boardRedSectionColor: #ef5350;
$boardBlackSectionColor: #333;
$checkerRedColor1: #ef5350;
$checkerRedColor2: #f00;
$checkerBlackColor1: #555;
$checkerBlackColor2: #000;
$diceRedColor: #d9534f;
$diceBlackColor: #333;
$diceRedBorderColor: #de6a66;
$diceBlackBorderColor: #555;
