$boardBgColor: #fff;
$boardBorderColor: #333;
$boardRedSectionColor: #ef5350;
$boardBlackSectionColor: #333;
$checkerRedColor1: #ef5350;
$checkerRedColor2: #f00;
$checkerBlackColor1: #555;
$checkerBlackColor2: #000;
$diceRedColor: #d9534f;
$diceBlackColor: #333;
$diceRedBorderColor: #de6a66;
$diceBlackBorderColor: #555;
$dialogBgColor: #fff;
$dialogOverlapColor: rgba(51, 51, 51, .45);
$dialogBorderColor: #ccc;
$dialogHeaderColor: #555;
$dialogContentColor: #333;
$redColor: #d9534f;
$blackColor: #333;
$greyColor: #777;
$lightgreyColor: #ccc;
$thrownZoneBgBlackColor: #555;
$thrownZoneBorderBlackColor: #333;
$thrownZoneBgRedColor: #ef5350;
$thrownZoneBorderRedColor: #d9534f;
