$menuBgColor: #ff0000;
$boardBgColor: #fff;
$boardBorderColor: #333;
$boardRedSectionColor: #ef5350;
$boardBlackSectionColor: #333;
$checkerRedColor1: #ef5350;
$checkerRedColor2: #f00;
$checkerBlackColor1: #555;
$checkerBlackColor2: #000;
