board {
  display: block;
  width: 854px;
  height: 854px;
  font-size: 0pt;
  background-color: $boardBgColor;
  margin: 0px auto;
  border: 15px solid $boardBorderColor;
}

board > region {
  display: inline-block;
  margin: 0px;
}

board > region:nth-child(1),
board > region:nth-child(2) {
  padding-bottom: 7px;
}

board > region:nth-child(3),
board > region:nth-child(4) {
  padding-top: 7px;
}

board > region:nth-child(1),
board > region:nth-child(3) {
  border-right: 7px solid $boardBorderColor;
}

board > region:nth-child(2),
board > region:nth-child(4) {
  border-left: 7px solid $boardBorderColor;
}
