checker {
  width: 33px;
  height: 33px;
  margin: 1px 0px;
  padding: 0px;
  display: block;
  border: 1px solid #ddd;
  z-index: 1;
  @include border-radius(33px);
  @include box-shadow(0px 0px 3px 1px #000);
  cursor: move;
}

checker[type="red"] {
  @include radial-gradient($checkerRedColor1, $checkerRedColor2);
}

checker[type="black"] {
  @include radial-gradient($checkerBlackColor1, $checkerBlackColor2);
}

checker.dragstart {
  opacity: .75;
  @include transition(all .5s);
}
