.dialog {
  background-color: $dialogBgColor;
  position: fixed;
  min-width: 200px;
  width: 50%;
  min-height: 100px;
  height: auto;
  top: 100px;
  margin: auto;
  left: 0px;
  right: 0px;
  z-index: 3;
  padding: 15px;
  @include box-shadow(0px 0px 9px 1px #333);
  @include border-radius(5px);
  border: 1px solid $dialogBorderColor;
}

.dialog-overlap {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $dialogOverlapColor;
  display: block;
  z-index: 2;
}

.dialog > .close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 25pt;
  color: $dialogHeaderColor;
  padding-bottom: 9px;
}

.dialog > header {
  text-align: center;
  font-size: 17pt;
  font-weight: 700;
  color: $dialogHeaderColor;
  padding-bottom: 9px;
  border-bottom: 1px solid $dialogBorderColor;
}

.dialog > content {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  color: $dialogContentColor;
}

.dialog > footer {
  text-align: center;
  font-size: 17pt;
  font-weight: 700;
  color: $dialogHeaderColor;
  padding-top: 9px;
  border-top: 1px solid $dialogBorderColor;
}
