dice {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  z-index: 2;
}

dice.left {
  left: 200px;
  right: auto;
}

dice.right {
  left: auto;
  right: 0px;
}

dice.right-bottom #dice {
  left: 235px;
  top: 235px;
}

dice > #dice {
  position: relative;
  display: block;
  margin: 10px auto 0;
  height: 400px;
  width: 400px;
  @include transition(transform 1.5s cubic-bezier(0.23, 0.75, 0.23, 0.75));
  transform-style: preserve-3d;
}

dice-side > .side {
  position: absolute;
  height: 85px;
  width: 85px;
  padding: 7px;
  font-size: 37px;
  color: #fff;
  background-color: #333;
  border: 1px solid #555;
  @include border-radius(3px);
  text-align: center;
  line-height: 85px;
}

dice[color="red"] > #dice > dice-side > .side {
  background-color: $diceRedColor;
  border: 1px solid $diceRedBorderColor;
}

dice[color="black"] > #dice > dice-side > .side {
  background-color: $diceBlackColor;
  border: 1px solid $diceBlackBorderColor;
}

dice.left > #dice > .side {
  left: 0px;
}

dice.right > #dice > .side {
  right: 0px;
}

dice-side.one > .side  {
  transform: rotateX(90deg) translateZ(50px);
}

dice-side.two > .side {
  transform: translateZ(50px);
}

dice-side.three > .side {
  transform: rotateY(90deg) translateZ(50px);
}

dice-side.four > .side {
  transform: rotateY(180deg) translateZ(50px);
}

dice-side.five > .side {
  transform: rotateY(-90deg) translateZ(50px);
}

dice-side.six > .side {
  transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}

dice-side.inline > .side {
  position: inherit;
}

dice-side.red > .side {
  background-color: $diceRedColor;
  border: 1px solid $diceRedBorderColor;
}

dice-side.black > .side {
  background-color: $diceBlackColor;
  border: 1px solid $diceBlackBorderColor;
}

dice-side > .side > .dot {
  position: absolute;
  width: 25px;
  height: 25px;
  @include border-radius(25px);
  @include box-shadow(inset 5px 0px 10px #fff);
  background: #ddd;
}

dice-side > .side > .dot.center {
  margin: 30px 0px 0px 30px;
}

dice-side > .side > .dot.dtop {
  margin-top: 0px;
}

dice-side > .side > .dot.dleft {
  margin-left: 0px;
}

dice-side > .side > .dot.dright {
  margin-left: 60px;
}

dice-side > .side > .dot.dbottom {
  margin-top: 60px;
}

dice-side > .side > .dot.center.dleft {
  margin: 30px 0px 0px 0px;
}

dice-side > .side > .dot.center.dright {
  margin: 30px 0px 0px 60px;
}

.dice-group {
  display: block;
  width: 884px;
  height: 882px;
  position: absolute;
  z-index: 345;
  left: 50%;
  top: 60px;
  margin-left: -442px;
}
