<quarter ng-repeat="quarter in quarters track by $index">
  <placement ng-repeat="section in quarter track by $index" type="{{ section }}">
    <checker type="{{ section }}"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
    <checker type="red"></checker>
    <checker type="black"></checker>
  </placement>
</quarter>
