<div class="side" ng-if="value == 1">
  <div class="dot center"></div>
</div>
<div class="side" ng-if="value == 2">
  <div class="dot dtop dleft"></div>
  <div class="dot dbottom dright"></div>
</div>
<div class="side" ng-if="value == 3">
  <div class="dot dtop dleft"></div>
  <div class="dot center"></div>
  <div class="dot dbottom dright"></div>
</div>
<div class="side" ng-if="value == 4">
  <div class="dot dtop dleft"></div>
  <div class="dot dtop dright"></div>
  <div class="dot dbottom dleft"></div>
  <div class="dot dbottom dright"></div>
</div>
<div class="side" ng-if="value == 5">
  <div class="dot dtop dleft"></div>
  <div class="dot dtop dright"></div>
  <div class="dot center"></div>
  <div class="dot dbottom dleft"></div>
  <div class="dot dbottom dright"></div>
</div>
<div class="side" ng-if="value == 6">
  <div class="dot dtop dleft"></div>
  <div class="dot dtop dright"></div>
  <div class="dot dbottom dleft"></div>
  <div class="dot dbottom dright"></div>
  <div class="dot center dleft"></div>
  <div class="dot center dright"></div>
</div>