<!DOCTYPE html>
<html lang="en" ng-app="--ckgammonApp">
  <head>
    <meta charset="utf-8" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>--ckgammon</title>
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- bower:js -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainController">

    <div class="user-panel">
      <button class="btn" ng-click="showNewGameDialog()"
              ng-disabled="statusNewGameDialog">
      New Game
    </button>
    </div>

    <thrown-zone ng-show="statusPlayerOneHouse"
                 class="left {{ usersData.one.color }}"
                 type="usersData.one.color"></thrown-zone>
    <thrown-zone ng-show="statusPlayerTwoHouse"
                 class="right {{ usersData.two.color }}"
                 type="usersData.two.color"></thrown-zone>

    <board></board>

    <dice class="left am-fade" color="red" value="dices.red.value"
          ng-click="roll('red')" ng-if="statusDices"></dice>
    <dice class="right am-fade" color="black" value="dices.black.value"
          ng-click="roll('black')" ng-if="statusDices"></dice>

    <div class="dice-group" ng-if="statusDiceGroup"
         ng-click="rollGroup(); $event.stopPropagation()">
      <dice class="am-fade" color="red" value="diceGroupValues[0]"
            ng-click="rollGroup(); $event.stopPropagation()"></dice>
      <dice class="am-fade right-bottom" color="black" value="diceGroupValues[1]"
            ng-click="rollGroup(); $event.stopPropagation()"></dice>
    </div>

    <div class="am-fade" ng-show="statusNewGameDialog">
      <div class="dialog">
        <span class="close" ng-click="hideNewGameDialog()"
              ng-if="statusNewGameDialogClose">&times;</span>
        <header>
          <span class="logo-16"></span>
          New Game
        </header>
        <content>
          <center>
            <div class="large green bold" ng-if="win">
              <span ng-show="win == 'draw'">Draw</span>
              <span ng-show="win != 'draw'">
                <checker class="inline margin"
                         type="{{ usersData[win].color }}"></checker>
                {{ usersData[win].name }} WIN !
              </span>
            </div>
            <p class="bold">Who will play with you?</p>
            <div class="select-player">
              <div>Your Name</div>
              <div><input type="text" ng-model="usersData.one.name" /></div>
              <div>
                <checker ng-show="usersData.one.color" class="margin"
                         type="{{ usersData.one.color }}"></checker>
              </div>
            </div>
            <div class="vs bold">vs</div>
            <div class="select-player">
              <div>Opponent's Name</div>
              <div><input type="text" ng-model="usersData.two.name" /></div>
              <div>
                <checker ng-show="usersData.two.color" class="margin"
                         type="{{ usersData.two.color }}"></checker>
              </div>
              <div class="text-left">
                <br />
                <div>
                  <input type="radio" id="ai" value="ai"
                         ng-model="usersData.two.type" disabled />
                  <label for="ai">Artificial Intelligence</label>
                </div>
                <div>
                  <input type="radio" id="human" value="human"
                         ng-model="usersData.two.type" />
                  <label for="human">Human</label>
                </div>
              </div>
            </div>
            <p>Choose your color</p>
            <p>
              <checker ng-repeat="color in colors track by $index" type="{{ color }}"
                       ng-click="chooseColor(color)" class="inline margin">
              </checker>
            </p>
            <p>... and roll one of the dices to determine the first player makes a move.</p>
            <p class="bold">Good Luck!</p>
          </center>
        </content>
        <footer>
          <button class="btn" ng-click="newGame()" ng-disabled="isDisabled()">
            New Game
          </button>
        </footer>
      </div>
      <div class="dialog-overlap"></div>
    </div>

    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>