@font-face {
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Square'),
       local('NovaSquare'),
       url(../fonts/NovaSquare.woff2) format('woff2'),
       url(../fonts/NovaSquare.woff) format('woff');
}
