html,
body {
  font-family: $mainFont;
  background-color: #eee;
  background-image: url(../images/ag-square.png);
  /*overflow-x: hidden;
  overflow-y: auto;*/
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
