<div id="dice" style="transform: rotateX(40deg) rotateY(37deg);">
  <div class="side one">
    <div class="dot center"></div>
  </div>
  <div class="side two">
    <div class="dot dtop dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>
  <div class="side three">
    <div class="dot dtop dleft"></div>
    <div class="dot center"></div>
    <div class="dot dbottom dright"></div>
  </div>
  <div class="side four">
    <div class="dot dtop dleft"></div>
    <div class="dot dtop dright"></div>
    <div class="dot dbottom dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>
  <div class="side five">
    <div class="dot dtop dleft"></div>
    <div class="dot dtop dright"></div>
    <div class="dot center"></div>
    <div class="dot dbottom dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>
  <div class="side six">
    <div class="dot dtop dleft"></div>
    <div class="dot dtop dright"></div>
    <div class="dot dbottom dleft"></div>
    <div class="dot dbottom dright"></div>
    <div class="dot center dleft"></div>
    <div class="dot center dright"></div>
  </div>
</div>
